.header_img,
.kiloren_img,
.stormtr_img {
  max-width: 100%;
  width: 100%;
}

.ad_img,
.r2d2_img {
  max-width: 100%;
}

.kiloren_img {
  margin-top: 12.5rem;
}
.stormtr_img {
  margin-top: 3.75rem;
}
.menu_img {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
